/* MENU */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: pink;   /* cor de fundo do menu */
    padding: 10px 0;   /* espaçamento interno do menu */
    text-align: center;   /* centraliza o texto */
    position: fixed;    /* fixa o menu no topo da página */
    top: 0;
    width: 100%;   /* largura do menu */
    z-index: 1000;   /* coloca o menu acima de outros elementos */
}

nav ul{
    list-style: none;   /* remove os marcadores da lista*/
    padding: 0;   /* remove o espaçamento interno da lista */
    margin: 0;   /* remove a margem da lista */
    display: flex;   /* exibe os itens da lista em linha */
    align-items: center;   /* alinha os itens da lista verticalmente */
    justify-content: space-around;   /* espaçamento entre os itens do menu */

    /* justify-content: center;   /* centraliza os itens da lista */
}

nav ul li{
    display: inline;   /* exibe os itens da lista em linha */
    margin: 0 10px;   /* espaçamento entre os itens do menu */
    font-size: large;   /* tamanho da fonte */
    font-weight: bold;    /* negrito */
    text-decoration: none;   /* remove o sublinhado */
}

nav ul li a{
    color: black;   /* cor do texto */
    text-decoration: none;   /*remove o sublinhado */
    padding: 5px 10px;   /* espaçamento interno do link */
    border-radius: 10px;   /* borda arredondada */
    transition: background-color 0.3s;   /* transisção suave para a cor de fundo */
    display: inline-block;   /* exibe o link em bloco */
}

nav ul li a:hover{
    background-color: aliceblue;   /* cor do fundo do link ao passar o mouse */
    color: palevioletred;   /* cor do texto ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   /* sombra do link */
}


/* CARDS */

.container {
    display: flex;   /* Coloca os cards lado a lado */
    flex-wrap: wrap;   /* Permite quebra de linha se necessário */
}

.card{
    background-color: pink;  /*#c6cdff*/
    border: 1px solid #ffffff;
    border-radius: 15px; /* Arredonda os cantos dos cards */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para dar um efeito de elevação */
    flex: 1 1 270px; /* Permite que os cards cresçam igualmente */
    max-width: 300px; /* Define uma largura máxima para os cards */
    margin-top: 190px;
    margin-right: 30px;
    margin-left: 20px;
}

/* Estilo para o título dos cards */
.card h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.7em;
    color: #ffffff;
}

/* Estilo para o parágrafo dos cards */
.card p {
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
}

/* Estilo para o Botão Adicionar dos cards */
.card button{
    background-color: white;
    border-color: white;
    font-size: 20px;
    color: palevioletred;
    cursor: pointer;   /* Muda o cursor para indicar que é clicável */
}


/* CARRINHO DE COMPRAS */

h1{
    color: palevioletred;
    margin-top: 100px;
    margin-bottom: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid palevioletred;
}

th{
    background-color: pink;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 200px;
    color: #ffffff;
}

tr{
    font-size: 20px;
    font-weight: bold;
    color: palevioletred;
}


/* estiliza o botão de remover */

button{
    background-color: palevioletred;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}